# Ignore media files
server/media/

# Python/Django
*.pyc
__pycache__/
*.sqlite3
db.sqlite3
.env

# Virtual environment
.venv/
env/
venv/

# Node modules (if any frontend is included)
node_modules/

# VS Code & Mac system files
.vscode/
.DS_Store

# Ignore all assets
client/JobMatrix/src/assets/
client/JobMatrix/public*.pyc
__pycache__/
__pycache__/
*.pyc
